@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

section {
    overflow: hidden;
}

:root {
    --main-color:#acd147 ;
    --light-color: #acd147;
    --sec-color: #143745;
    --text-color:#666;
    --bg-section: #f4f3f8;
}

body {
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
}

/* global style ----------------------------------- */
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.main-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--sec-color);
    color: white;
}

.divider-header {
    margin-left: 35px;
    height: 4px;
    border-radius: 10px;
    width: 150px;
    background-color: var(--main-color);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
}
.divider-header::before {
    content: "...";
    position: absolute;
    left: -35px;
    top: -10px;
    color: var(--main-color);
    font-size: 2.5rem;
    letter-spacing: 3px;
    line-height: 0;
}

.section-title {
    font-size: 2rem;
    color: var(--sec-color);
    margin: 30px 0;
    font-weight: 800;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.section-title span {
    color: var(--light-color);
}
.section-title .span{
    position: relative;
    display: block;
    animation: title-animation 3s cubic-bezier(0.69, 0.19, 0.28, 1.01) infinite backwards ;
    -webkit-animation: title-animation 3s cubic-bezier(0.69, 0.19, 0.28, 1.01) infinite backwards ;
}
.section-title .span::after {
    content: '|';
    font-size: 2rem;
    font-weight: 800;
    color: var(--sec-color);
    position: absolute;
    right: -10px;
    top: 0;
}
.section-title .span span {
    animation: title-animation 3s cubic-bezier(0.69, 0.19, 0.28, 1.01) infinite backwards ;
    -webkit-animation: title-animation 3s cubic-bezier(0.69, 0.19, 0.28, 1.01) infinite backwards ;
    display: block;
    overflow: hidden;
}
@keyframes title-animation {
    0% { width: 0; }
    50% { width: 100px; }
    100% { width: 0;}
}



/* start header style -------------------------------------------------- */
.header-logo a img {
    height: 50px;
    max-width: 100%;
}
.contact-header-box {
    gap: 2rem;
}
.contact-header-box .contact-box {
    gap: 10px;
}
.contact-header-box .contact-box i {
    font-size: 2rem;
    color: var(--light-color);
}
.contact-header-box .contact-box h6 {
    font-size: 14px;
    color: var(--sec-color);
    font-weight: 600;
    margin-bottom: 10px;
}
.contact-header-box .contact-box p {
    font-size: 14px;
    color: var(--text-color);
    font-weight: 400;
    line-height: 0;
}

.nav-header {
    padding: 15px 20px;
    background-color: var(--sec-color);
}
.nav-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header nav {
    display: flex;
}
.nav-header nav a {
    color: white;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    position: relative;
}
.nav-header nav a::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    height: 1.5px;
    width: 0%;
    background-color: var(--main-color);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.nav-header nav a:hover ,
.nav-header nav a.active {
    color: var(--main-color);
    font-weight: 600;
}
.nav-header nav a:hover::before ,
.nav-header nav a.active::before {
    width: 100%;
}

.nav-header .main-btn {
    border-color: var(--light-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    padding: 4px 25px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.nav-header .main-btn:hover {
    background-color: var(--light-color);
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}

.nav-header .mobile-icons {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--bg-section);
    color: var(--sec-color);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 80px;
    left: -100%;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    cursor: pointer;
    font-size: 2rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}


.nav-header .container > div .mobile-nav {
    display: none;
}
.nav-header .container > div .mobile-nav i {
    font-size: 1.6rem;
    color: white;
    cursor: pointer;
    height: 100%;
}

/* end header style -------------------------------------------------- */
/* start hero section style -------------------------------------------------- */
.hero-section {
    padding: 100px 0;
    min-height: calc(100vh - 130px);
    background-image: url(../assets/Bg-1.webp);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 200%;
}
.hero-section .hero-img {
    position: relative;
}
.hero-section .hero-img .social-icon {
    max-width: 90px;
    height: fit-content;
}
.hero-section .hero-img img {
    max-width: 100%;
    margin-top: -50px;
}
.hero-section .hero-img .social-icon {
    position: absolute;
}
.hero-section .hero-img .social-icon.top-left {
    top: 40%;
    left: 20%;
    max-width: 150px;
}
.hero-section .hero-img .social-icon.top-left img {
    animation: rotate 3s infinite ease-in-out ;
    -webkit-animation: rotate 3s infinite ease-in-out ;
    transform-origin: center center;
}
.hero-section .hero-img .social-icon.top-right {
    top: 40%;
    right: 20%;
    max-width: 120px;
}
.hero-section .hero-img .social-icon.top-right img {
    animation: bounce 2s infinite  ;
    -webkit-animation: bounce 2s infinite  ;
}
.hero-section .hero-img .social-icon.bottom-left {
    bottom: 0;
    left: 25%;
}
.hero-section .hero-img .social-icon.bottom-left img {
    animation: bounce-scaled 3s infinite ease-in-out backwards;
    -webkit-animation: bounce-scaled 3s infinite ease-in-out backwards;
}
.hero-section .hero-img .social-icon.bottom-right {
    bottom: 20%;
    right: 10%;
    max-width: 130px;
}
.hero-section .hero-img .social-icon.bottom-right img {
    animation: fadeIn 2s infinite ease-in-out ;
    -webkit-animation: fadeIn 2s infinite ease-in-out ;
}

@keyframes bounce-scaled {
    0% {
        transform: translateY(0) scale(0.9) rotate(0);
        -webkit-transform: translateY(0) scale(0.9) rotate(0);
        -moz-transform: translateY(0) scale(0.9) rotate(0);
        -ms-transform: translateY(0) scale(0.9) rotate(0);
        -o-transform: translateY(0) scale(0.9) rotate(0);
}
    50% {
        transform: translateY(-20px) scale(1.1) rotate(360deg);
        -webkit-transform: translateY(-20px) scale(1.1) rotate(360deg);
        -moz-transform: translateY(-20px) scale(1.1) rotate(360deg);
        -ms-transform: translateY(-20px) scale(1.1) rotate(360deg);
        -o-transform: translateY(-20px) scale(1.1) rotate(360deg);
}
    100% {
        transform: translateY(0) scale(0.9)  rotate(0);
        -webkit-transform: translateY(0) scale(0.9)  rotate(0);
        -moz-transform: translateY(0) scale(0.9)  rotate(0);
        -ms-transform: translateY(0) scale(0.9)  rotate(0);
        -o-transform: translateY(0) scale(0.9)  rotate(0);
}
}
@keyframes bounce {
    0% {
        transform: translateY(0) ;
        -webkit-transform: translateY(0) ;
        -moz-transform: translateY(0) ;
        -ms-transform: translateY(0) ;
        -o-transform: translateY(0) ;
}
    40% {
        transform: translateY(-30px) ;
        -webkit-transform: translateY(-30px) ;
        -moz-transform: translateY(-30px) ;
        -ms-transform: translateY(-30px) ;
        -o-transform: translateY(-30px) ;
}
    60% {
        transform: translateY(-20px) ;
        -webkit-transform: translateY(-20px) ;
        -moz-transform: translateY(-20px) ;
        -ms-transform: translateY(-20px) ;
        -o-transform: translateY(-20px) ;
}
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(.6);
        -webkit-transform: scale(.6);
        -moz-transform: scale(.6);
        -ms-transform: scale(.6);
        -o-transform: scale(.6);
}
    50% {
        opacity: 5;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
    100% {
        opacity: 0;
        transform: scale(.6);
        -webkit-transform: scale(.6);
        -moz-transform: scale(.6);
        -ms-transform: scale(.6);
        -o-transform: scale(.6);
}
}
@keyframes rotate {
    0% {
        transform: rotateY(0);
        -webkit-transform: rotateY(0);
        -moz-transform: rotateY(0);
        -ms-transform: rotateY(0);
        -o-transform: rotateY(0);
}
    70% {
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
}
    100% {
        transform: rotateY(-360deg);
        -webkit-transform: rotateY(-360deg);
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        -o-transform: rotateY(-360deg);
}
}

.hero-section h5{
    color: var(--sec-color);
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.hero-section h1 , 
.hero-section h2{
    color: var(--main-color);
    font-size: 2.5rem;
    font-weight: 800;
}
.hero-section h2 {
    color: var(--sec-color);
}
.hero-section p {
    color: var(--text-color);
    margin-top: 30px;
    font-size: 13px;
    font-weight: 500;
}
.hero-section .hero-boxes-number {
    max-width: 50%;
    padding: 0 0 40px 0;
}
.hero-section .hero-boxes-number .box-num span {
    color: var(--main-color);
    font-size: 32px;
    font-weight: 600;
    display: block;
    text-align: center;
}
.hero-section .hero-boxes-number .box-num p {
    color: var(--sec-color);
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
}
.hero-section .main-btn {
    max-width: 180px;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.hero-section .main-btn:hover {
    background-color: var(--main-color);
    color: var(--sec-color);
}
/* end hero section style -------------------------------------------------- */
/* start services section style -------------------------------------------------- */

.services-section .container {
    /* margin-top: 30px; */
    background-color: var(--bg-section);
    padding: 0 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.services-section .services-box {
    background-color: #fff;
    color: var(--sec-color);
    border: 1px solid color-mix(in srgb, var(--main-color), transparent 85%);
    padding: 15px 20px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
    width: calc(100% / 5);
    max-width: 100%;
    min-height: 100px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.services-section .services-box:hover {
    background-color: var(--main-color);
    box-shadow: 0px 15px 15px -10px rgba(0,0,0,0.05);
    transform: scale(1.05) translateY(-10px);
    -webkit-transform: scale(1.05) translateY(-10px);
    -moz-transform: scale(1.05) translateY(-10px);
    -ms-transform: scale(1.05) translateY(-10px);
    -o-transform: scale(1.05) translateY(-10px);
}
.services-section .services-box img {
    width: 50px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.services-section .services-box:hover img {
    width: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.services-section .services-box h5 {
    font-size: 16px;
    margin-left: 10px;
}
/* end services section style -------------------------------------------------- */
/* start offers section style -------------------------------------------------- */
.offers-section {
    background-color: var(--bg-section);
    padding: 0;
    margin-top: 35px;
}
.offers-section .offer-img iframe {
    width: 100%;
    max-height: 100%;
    height: 600px;
}
.offers-section .offer-content h3 {
    color: var(--sec-color);
    text-shadow: 0px 0px 0px rgba(0,0,0,.3);
    margin: 0 0 20px;
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 35px;
}
.offers-section .offer-content .divider-header {
    margin-bottom: 20px;
}
.offers-section .offer-content h6 {
    color: var(--sec-color);
    margin: 0 0 20px;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: underline;
}
.offers-section .offer-content p {
    color: #143745;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin: 35px 0;
}
/* end offers section style -------------------------------------------------- */
/* start shop section style -------------------------------------------------- */
.shop-section {
    margin: 50px 0;
}
.shop-section ul {
    padding: 0 ;
}

.shop-section .nav-shop-filter button {
    padding: 5px 12px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: 1px solid var(--light-color);
    background-color: transparent;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    color: var(--text-color);
}
.shop-section .nav-shop-filter button:hover {
    background-color: var(--sec-color);
    color: white;
}
.shop-section .shop-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}
.shop-section .shop-container .product-item h6 {
    color: var(--sec-color);
}
.shop-section .shop-container .product-item {
    border-radius: 6px;
    background-color: var(--bg-section);
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 0px 15px 15px -10px rgba(0,0,0,0.05);
    min-width: 250px;
    max-width: 100%;
    padding: 12px;
    cursor: pointer;
}
.shop-section .shop-container .product-item .img-container {
    position: relative;
}
.shop-section .shop-container .product-item .add-cart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #11111123;
    transition: all 0.3s;
    transform: scale(0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.shop-section .shop-container .product-item .img-container:hover .add-cart {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.shop-section .shop-container .product-item .add-cart span {
    width: 40px;
    height: 30px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sec-color);
    color: white;
    font-size: 1.2rem;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.shop-section .shop-container .product-item .add-cart span:hover {
    background-color: var(--light-color);
    color: var(--sec-color);
}
.shop-section .shop-container .product-item img {
    max-width: 110px;
    height: 110px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.shop-section .shop-container .product-item .stars-box {
    margin-bottom: 10px;
}
.shop-section .shop-container .product-item .stars-box i {
    color: var(--light-color);
}
.shop-section .shop-container .product-item .price {
    color: var(--sec-color);
    font-size: 1rem;
    font-weight: 700;
}
/* end shop section style -------------------------------------------------- */
/* start price section style -------------------------------------------------- */
.price-section {

}

  
  .price-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .price-section .price-card-container .card {
    background-color: #f9f9f9;
    color: var(--sec-color);
    box-shadow: 2px 2px 10px #7777772f;
    border-top: 8px solid #3A3A3A;
    border-radius: 4px;
    padding: 16px 32px 32px 32px;
    margin: 16px;
    width: 280px;
  }
  
  .price-section .price-card-container .card:hover,
  .price-section .price-card-container .card.main-pack {
    border-top: 8px solid var(--main-color);
    border-radius: 4px;
    transform: translateY(-1em);
    transition: all 0.2s ease-out;
  }
  
  .price-section .price-card-container .card__title {
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-bottom: 8px;
  }
  
  .price-section .price-card-container .card__body {
    position: relative;
    border-top: 2px solid #777777;
    border-bottom: 2px solid #777777;
    padding-bottom: 16px;
  }
  
  .price-section .price-card-container .price {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 0 0 1px var(--light-color);
    color: var(--sec-color);
    padding-left: 24px;
    margin: 32px 0 0 0;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    line-height: 1.2;
}
  
  .price-section .price-card-container .price__symbol {
    position: absolute;
    left: -5px;
    top: 42px;
    font-size: 0.8rem;
  }
  
  .price-section .price-card-container .price__tag {
    text-transform: uppercase;
    margin-bottom: 8px;
    text-align: right;
  }
  
  .price-section .price-card-container ol {
    list-style: none;
    margin-left: -40px;
  }
  
  .price-section .price-card-container li {
    padding: 12px 0;
    font-size: 12px;
    color: var(--text-color);
    position: relative;
    margin-left: 10px;
    border-bottom: 1px solid var(--light-color);
  }
  
  .price-section .price-card-container li:before {
    content: '*';
    
    font-size: 16px;
    color: var(--main-color);
    position: absolute;
    left: -10px;
    top: 12px;
  }
  
  .price-section .price-card-container .card__button {
    width: 100%;
    background-color: var(--sec-color);
    border: 1px solid var(--sec-color);
    border-radius: 8px;
    margin-top: auto;
    padding: 6px 0;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2.67px;
    text-transform: uppercase;
    text-shadow: 1px 1px #3A3A3A;
    color: #ffffff;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
  
  .price-section .price-card-container .card:hover .card__button {
    background-color: var(--main-color);
    border-color: var(--main-color);
  }
  
  .price-section .price-card-container .card:hover .price ,
  .price-section .price-card-container .card.main-pack .price {
    color: var(--main-color);
  }
  .price-section .price-card-container .card:hover .card__button:hover {
    background-color: var(--light-color);
    box-shadow: 2px 2px 10px #b2e52774;
    transform: scale(1.05) translateY(-10px);
    -webkit-transform: scale(1.05) translateY(-10px);
    -moz-transform: scale(1.05) translateY(-10px);
    -ms-transform: scale(1.05) translateY(-10px);
    -o-transform: scale(1.05) translateY(-10px);
}
  
/* end price section style -------------------------------------------------- */
.newslitter {
    background-color: #143745;
    position: relative;
}
.newslitter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/Bg-1.webp);
    background-position:top left;
    opacity: 0.1;
}

.newslitter .main-btn {
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    border: 1px solid var(--light-color);
    background-color: var(--light-color);
    &:hover {
        transform: scale(1.08);
        -webkit-transform: scale(1.08);
        -moz-transform: scale(1.08);
        -ms-transform: scale(1.08);
        -o-transform: scale(1.08);
        background-color: var(--sec-color);
}
}

/* start vision section -------------------------------------------------*/
.vision-section {
    background-image: url(../assets/Bg-1.webp);
    background-repeat: no-repeat;
    background-size: 235%;
}
.vision-section .vision-img img {
    max-width: 100%;
    filter: drop-shadow(2px 4px 20px #b2e52774);
    -webkit-filter: drop-shadow(2px 4px 20px #b2e52774);
}
.vision-section .section-title {
    margin: 0;
}
.vision-section .vision-content .box img {
    width: 3rem;
    height: 3rem;
}

.vision-section .vision-content .box p {
    color: var(--sec-color);
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
}
.vision-section .vision-content .main-btn {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.vision-section .vision-content .main-btn:hover {
    background-color: var(--main-color);
    box-shadow: 2px 4px 20px #b2e52774;
}
/* end vision section -------------------------------------------------*/
/* start number section -------------------------------------------------*/
.number-section .num-box{
    width: 25%;
    background-color: #fff;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 28px 40px 0px rgba(2.000000000000001,8.000000000000025,22,.1);
    border-style: solid;
    border-width: 2px;
    border-color: var(--sec-color);
    border-radius: 20px;
    padding: 60px 20px;
    position: relative;
}
.number-section .num-box::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: var(--light-color);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transform: scaleX(1);
    transform-origin: top left;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}
.number-section .num-box:hover::after {
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
}
.number-section .num-box img {
    height: 100px;
}
.number-section .num-box h6 {
    font-size: 30px;
    font-weight: 600;
    color: var(--sec-color);
    text-align: center;
}
.number-section .num-box p {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: var(--sec-color);
}
/* end number section -------------------------------------------------*/
/* start why-dra section -------------------------------------------------*/
.why-dra .section-title {
    justify-content: start;
}
.why-dra h6{
    color: var(--main-color);
}
.why-dra .card-container .ser-card {
    background-color: #e9fffd;
    padding: 20px;
    border-radius: 10px;
    color: #143745;
}
.why-dra .card-container .ser-1 .ser-card:first-child {
    background-color: #e9fffd;
}
.why-dra .card-container .ser-1 .ser-card:last-child  {
    background-color: #d2deff;
}
.why-dra .card-container .ser-2 .ser-card:first-child {
    background-color: #ffffed;
}
.why-dra .card-container .ser-2 .ser-card:last-child {
    background-color: #ffe8fc;
}
.why-dra .card-container .ser-card i {
    font-size: 2rem;
}
.why-dra .card-container .ser-card p {
    font-size: 14px;
    font-weight: 500;
}
/* end why-dra section -------------------------------------------------*/
/* start our business section -------------------------------------------------*/
.our-business .section-title .span {
    animation-name: title-our-business-animation ;
}
.our-business .section-title .span span {
    animation-name: title-our-business-animation ;
}
@keyframes title-our-business-animation {
    0% { width: 0; }
    50% { width: 160px; }
    100% { width: 0;}
}
.our-business .business-card {
    background-color: var(--bg-section);
    position: relative;
}
.our-business .business-card::after {
    content: '';
    position: absolute;
    top: 5%;
    left: 3%;
    width: 94%;
    height: 0;
    background-color: white;
    transition: all 0.3s ;
    -webkit-transition: all 0.3s ;
    -moz-transition: all 0.3s ;
    -ms-transition: all 0.3s ;
    -o-transition: all 0.3s ;
}
.our-business .business-card:hover:after {
    height: 90%;
}
.our-business .business-card img {
    position: relative;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    z-index: 2;
}
.our-business .business-card:hover img {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}
/* end our business section -------------------------------------------------*/
/* start -  Partners  section -------------------------------------------------*/
.Our-Partners .section-title .span {
    animation-name: title-our-Partners-animation ;
}
.Our-Partners .section-title .span span {
    animation-name: title-our-Partners-animation ;
}
@keyframes title-our-Partners-animation {
    0% { width: 0; }
    50% { width: 180px; }
    100% { width: 0;}
}

.Our-Partners .tutorial {
    min-height: 50vh;
    max-height: 400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Our-Partners .tutorial .container {
    display: flex;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
    mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
  }
  .Our-Partners .tutorial .scroller {
    display: flex;
    gap: 1.5rem;
    animation: scroll 50s linear infinite;
    animation-delay: -50s;
    -webkit-animation: scroll 50s linear infinite;
  }
  .Our-Partners .tutorial .scroller:nth-child(2) {
    animation: scroll2 50s linear infinite;
    animation-delay: -25s;
    -webkit-animation: scroll2 50s linear infinite;
  }
  .Our-Partners .tutorial .scroller:hover ,
  .rtl .Our-Partners .tutorial .scroller:hover {
    animation-play-state: paused;
  }
  .Our-Partners .tutorial .item img {
    width: 200px;
    aspect-ratio: 4/2;
    -o-object-fit: contain;
    object-fit: contain;
    mix-blend-mode: color-burn;
    filter: grayscale(0.8);
    -webkit-filter: grayscale(0.8);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    box-shadow: 15px 18px 20px 0px rgba(2.000000000000001,8.000000000000025,22,.1);
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    padding: 14px;
    background-color: white;
}
.Our-Partners .tutorial .item img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
  
}
  @keyframes scroll {
    0% {
      transform: translateX(0%);
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
    }
    50% {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
}
    100% {
      transform: translateX(0%);
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
    }
  }
  @keyframes scroll2 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-200%);
      -webkit-transform: translateX(-200%);
      -moz-transform: translateX(-200%);
      -ms-transform: translateX(-200%);
      -o-transform: translateX(-200%);
}
  }

  .rtl .Our-Partners .tutorial .scroller {
    animation: scroll-ar 50s linear infinite;
    -webkit-animation: scroll-ar 50s linear infinite;
}
  .rtl .Our-Partners .tutorial .scroller:nth-child(2) {
    animation: scroll-ar-2 50s linear infinite;
    -webkit-animation: scroll-ar-2 50s linear infinite;
}
  @keyframes scroll-ar {
    0% {
      transform: translateX(0%);
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
    }
    50% {
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
}
    100% {
      transform: translateX(0%);
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
    }
  }
  @keyframes scroll-ar-2 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(200%);
      -webkit-transform: translateX(200%);
      -moz-transform: translateX(200%);
      -ms-transform: translateX(200%);
      -o-transform: translateX(200%);
}
  }
  /* end -  Partners  section -------------------------------------------------*/

  /* start footer style ---------------------------------------------------- */
  footer {
    background-color: var(--bg-section);
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
}

  footer .logo-footer img {
    max-width: 200px;
  }

  footer p {
    color: #666;
    font-size: 11px;
    font-weight: 400;
    margin: 20px auto;
  }
  footer h6 {
    color: #1f2933;
    font-size: 16px;
    font-weight: 700;
  }

  footer ul {
    margin-top: 10px;
    padding-left: 0;
  }

  footer ul li {
    margin-bottom: 5px;
    color: #555;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

  footer ul li a {
    color: inherit;
    font-size: 13px;
    font-weight: 400;
  }
  footer ul li:hover {
    color: var(--main-color);
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}
footer .social-container a {
    width: 34px;
    height: 34px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sec-color);
    border: 1px solid var(--light-color);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    color: var(--light-color);
    font-size: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

footer .social-container a:hover {
    background-color: var(--light-color);
    color: var(--sec-color);
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
}
footer input {
    display: block;
    padding: 12px;
    font-weight: 500;
    font-size: 11px;
    margin: 15px 0;
    width: 100%;
    max-width: 228px;
    border: 1px solid #00000040;
    color: var(--text-color);
    background-color: transparent;
    min-height: 43px;
}
footer .main-btn {
    max-width: 228px;
    text-align: center;
    cursor: pointer;
    font-size: 11px;
    font-weight: 500;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
footer .main-btn:hover {
    background-color: var(--light-color);
}
footer input::placeholder {
    color: #00000040;
}
footer input:focus {
    border-color: var(--light-color);
    outline: 0;
}
footer .bottom-footer {
    background-color: var(--sec-color);
}
footer .img-bottom-footer img {
    max-width: 60px;
}
  /* end footer style ---------------------------------------------------- */

  /* responsive home page ------------------------------------------------- */
  @media screen and (max-width: 992px) {
    
    .nav-header nav a ,
    .nav-header .main-btn {
        font-size: 12px;
    }
    .hero-section h5 {
        font-size: 15px;
    }
    .hero-section h1, .hero-section h2 {
        font-size: 1.5rem;
    }
    .hero-section p {
        font-size: 11px;
        margin-top: 20px;
    }
    .hero-section .hero-boxes-number {
        max-width: 100%;
        padding: 0 0 10px 0;
    }
    .hero-section .hero-boxes-number .box-num span {
        font-size: 20px;
    }
    .hero-section .hero-boxes-number .box-num p {
        font-weight: 500;
        font-size: 12px;
        margin-top: 0;
    }
    .hero-section .main-btn {
        max-width: 160px;
        font-size: 13px;
    }
    .services-section .services-container {
        flex-wrap: wrap;
    }
    .services-section .services-box {
        width: calc(100% / 3);
    }
    .shop-section .nav-shop-filter button {
        font-size: 9px;
        padding: 5px 8px;
    }
    .price-card-container {
        flex-wrap: wrap;
    }
    .number-section .container {
        flex-wrap: wrap;
    }
    .number-section .num-box {
        width: 45%;
        flex-grow: 1;
        margin-top: 20px;
    }
  }

  @media screen and (max-width: 779px) {
    header .container.p-2 {
        position: relative;
        z-index: 1000;
        background-color: white;
    }
    .hero-section .hero-img {
        text-align: right;
        margin-top: 80px;
    }
    .hero-section .hero-img .social-icon {
        max-width: 40px;
    }
    .hero-section .hero-img .social-icon.top-left ,
    .hero-section .hero-img .social-icon.top-right ,
    .hero-section .hero-img .social-icon.bottom-right{
        max-width: 60px;
    }
    .hero-section .hero-img img {
        max-height: 350px;
        margin-bottom: -50px;
    }
    .nav-header nav {
        position: fixed;
        width: 90vw;
        height: 100vh;
        background-color: #143745;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        z-index: 500;
        transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
        -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
        -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
        -ms-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
        -o-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
    .nav-header nav a {
        display: block;
        width: 100%;
        text-align: center;
    }
    .nav-header nav a::before {
        bottom: -5px;
        top: auto;
    }
    .nav-header .mobile-icons {
        display: flex;
    }
    .nav-header.show-mobile-menu nav {
        left: 0;
    }
    .nav-header.show-mobile-menu .mobile-icons {
        z-index: 502;
        left: 20px;
        opacity: 1;
        visibility: visible;
    }
    .nav-header .container > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .nav-header .container > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .nav-header .container > div .mobile-nav {
        display: flex;
    }
    .shop-section ul {
        flex-wrap: wrap;
    }
    .price-section .price-card-container .card {
        flex-grow: 1;
    }
    .vision-container {
        flex-wrap: wrap;
    }
    .shop-section .shop-container .product-item {
        flex-grow: 1;
    }
    .our-business .card-container {
        flex-wrap: wrap;
    }
    .services-section .services-box {
        width: calc(100% / 2);
        justify-content: start;
    }
    .offers-section .offer-img iframe {

        height: 400px;
    }
    .newslitter h5 {
        padding-bottom: 10px !important;
        text-align: center;
    } 
    .newslitter a {
        margin-bottom: 2rem !important;
    } 
  }

  .go-top {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: var(--sec-color);
    color: white;
    transition: all 0.3s;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 400;
    box-shadow: 2px 4px 10px 0px rgba(2, 8, 22, 0.204);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    &:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        box-shadow: 4px 8px 16px 0px rgba(2, 8, 22, 0.304);
        background-color: var(--light-color);
        color: var(--sec-color);
    }
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 400;
    
}
.whatsapp-icon img {
    filter: drop-shadow(2px 4px 10px rgba(2, 8, 22, 0.104));
    -webkit-filter: drop-shadow(2px 4px 10px rgba(2, 8, 22, 0.104));
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
.whatsapp-icon:hover img {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        filter: drop-shadow( 4px 8px 10px  rgba(2, 8, 22, 0.204));
        -webkit-filter: drop-shadow( 4px 8px 10px  rgba(2, 8, 22, 0.204));
}

/* cart section -------------------------------- */
.cart-section {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.504);
    z-index: 600;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform-origin: center right;
}
.rtl .cart-section {
    right: auto;
    left: 0;
}
.cart-section.show-cart {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}

.cart-section .cart-container {
    width: 80vw;
    max-width: 365px;
    background-color: #f2f4f4;
}

.cart-section .cart-header {
    color: #ffffff;
    background-color: #163845;
    border-bottom: 2px solid #eee;
    padding: 15px;
}

.cart-section .cart-header h6 {
    font-size: 16px;
}
.cart-section .cart-header i {
    font-size: 20px;
    cursor: pointer;
}

.cart-section .product-container {
    overflow-y: hidden;
    height: calc(100vh - 230px);
}
.cart-section .product-card {
    padding: 8px 13px;
    margin: 8px 13px;
    border-radius: 6px;
    box-shadow: 0 2px 2px #00000005;
    background-color: #ffffff;
}
.cart-section .product-card img {
    width: 56px;
    height: 56px;
}
.cart-section .product-card h6 {
    font-size: 13px;
    font-weight: 600;
}
.cart-section .product-card p {
    font-size: 13px;
    color: var(--sec-color);
    margin: 0;
}

.cart-footer {
    background-color: #ffffff;
    color: #163845;
    padding: 8px 15px;
    box-shadow: 0 -1px 10px #0000001a;
}
.cart-footer h6 {
    font-size: 14px;
    font-weight: 600;
    color: var(--sec-color);
    text-align: center;
}
.cart-footer p {
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    color: var(--text-color);
}
.cart-footer .main-btn {
    padding: 6px 14px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    font-size: 14px;
    width: 100%;
    text-align: center;
    display: block;
}
.cart-footer .main-btn:hover {
    background-color: var(--main-color);
}

.cart-icon {
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sec-color);
    cursor: pointer;
    color: white;
    font-size: 18px;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

/* cart page -************************************* */
.cart-page td ,
.cart-page th {
    text-align: center;
}
.cart-page .control-btns {
    border: 1px solid #999;
    width: 80px;
    justify-content: space-between;
    padding: 5px 10px;
    margin: auto;
}
.cart-page .control-btns span:not(.count) {
    cursor: pointer;
}

.cart-page .cart-container {
    max-width: 100%;
    overflow-x: auto;
}
.cart-page .cart-container table {
    width: 1000px;
    max-width: 100%;
}
.cart-page .cart-container table td:not(:first-child),
.cart-page .cart-container table th:not(:first-child) {
    min-width: 150px;
}